
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 0;
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }

/* Reset End */

body {
	background: url("RankNot.jpg") no-repeat;
	font-family: 'Oswald', sans-serif;
}

.container {
	margin: auto;  
	padding: 0;
}

#loginform {	
	background: url("RankNot.jpg") no-repeat;
	display: block;
	height: 180px;
	margin: 0 auto;	
	outline: solid 10px rgba(0,0,0,0.10);
	width: 200px;
	padding: 20px;
}

.login-username:before { 
	color: #4c4c4c;	
	font-size: 20px;
	text-transform: uppercase;
	margin: 0	;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
} 
 
 .login-username label, .login-password label {
	display: none;
	text-indent: -9999px;
}
 
.login-username .input{ 
    border-radius: 9px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
	position: absolute;
	margin-top: 74px;
	margin-left: 110px; 
 } 

.login-password .input 
{
    border-radius: 9px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
	position: absolute;
	margin-top: 103px;
	margin-left: 110px; 
}
 
 ::-moz-placeholder {  /* Firefox 19+ */
   color: #4c4c4c;
}

::-webkit-input-placeholder {
   color: #5d5b5b;
}

.input { 
	position: absolute;
	background-color: #fff;
	cursor: text;
	border: solid 1px #dedede; 
	box-sizing: border-box;
	color: #4c4c4c;
	font: 400 13px/18px 'oswald';
	height: 0px;
	margin-bottom: 150px;
	outline: none;
	padding: 10px 15px;
	transition: border 0.3s;
	width: 45%;
}

.input:focus { border: solid 1px #f35b5b; }

.button1 {
    /*adjust the roundness*/
    border-radius: 8px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
    /*adjust height and width*/
    height: 30px;
    margin-top: 148px;
    margin-left: 0px;
    width: 100px; 
	font:  14px/36px 'oswald';
    background-color: #ED1E24;    
	color: #fff;
    /*change border colour*/
    border:1px #ED1E24 solid;
}
.button2 {
    /*adjust the roundness*/
    border-radius: 8px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
    /*adjust height and width*/
    height: 30px;
    margin-top: -500px;
    margin-left: 110px;
    width: 100px; 
	font:  14px/36px 'oswald';
    background-color: #ED1E24;    
	color: #fff;
    /*change border colour*/
    border:1px #ED1E24 solid;
}

.button-primary {
    border-radius: 8px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
	background-color: #ED1E24; 
	position:absolute;
	border: solid 1px transparent; 
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font:  14px/36px 'oswald';
	height: 42px;
	letter-spacing: 1px;
	margin-top: 140px;
	margin-left: -5px;
	outline: none;
	text-align: center;
	text-transform: uppercase;
	transition: background-color 0.5s;
	width: 45%;
}

.button-secondary {
    border-radius: 8px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
	background-color: #ED1E24; 
	position:absolute;
	border: solid 1px transparent; 
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font:  14px/36px 'oswald';
	height: 42px;
	letter-spacing: 1px;
	margin-left: 110px;
	margin-top: 140px;
	outline: none;
	text-align: center;
	text-transform: uppercase;
	transition: background-color 0.5s;
	width: 40%;
}
.button-primary:hover {
	background-color: #469DB6;

}
.button-secondary:hover {
	background-color: #469DB6;

}
.login-remember { 
	display: none;
}

/* Code Ends */